---
import "@/styles/globals.css";
import MainLayout from "@/components/MainLayout.astro";
import { pageNames, pages } from "@/lib/utils";
import ChecksPage from '@/components/tevico/checks/checks';
---

<MainLayout activePage={pages[pageNames.browse]}>
  <div class="container mx-auto pt-2 pb-4">
    <ChecksPage client:load/>
  </div>
</MainLayout>
