---
import "@/styles/globals.css";
import MainLayout from "@/components/MainLayout.astro";
import { pageNames, pages } from "@/lib/utils";
import Table from "@/components/tevico/data-table";
interface User {
  id: number;
  name: string;
  email: string;
  age: number;
}

const data: User[] = [
  { id: 1, name: "Alice", email: "alice@example.com", age: 25 },
  { id: 2, name: "Bob", email: "bob@example.com", age: 30 },
  { id: 3, name: "Charlie", email: "charlie@example.com", age: 28 },
  { id: 4, name: "David", email: "david@example.com", age: 35 },
  { id: 5, name: "Eva", email: "eva@example.com", age: 22 },
  { id: 6, name: "Frank", email: "frank@example.com", age: 31 },
];

const columns: { Header: string; accessor: keyof User }[] = [
  { Header: "ID", accessor: "id" },
  { Header: "Name", accessor: "name" },
  { Header: "Email", accessor: "email" },
  { Header: "Age", accessor: "age" },
];
const config: {title:string}= {
    title: 'Checks'
}
---

<MainLayout activePage={pages[pageNames.browse]}>
  <div class="container mx-auto p-4">
    <Table config={config} data={data} columns={columns} filterKeys={["name", "email"]} client:load/>
  </div>
</MainLayout>
